/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    background: var(--bg-color);
    display: flex;
    align-items: center;
}

.freeshipping {
    display: block;
    width: 100%;
    height: 3rem;
    background-color: var(--main-color);
    overflow: hidden;
    position: relative; 
}

.freetext {
    position: absolute; 
    white-space: nowrap; 
    color: var(--bg-color);
    font-weight: bold 700;
    margin-top: 1rem;
    animation: free 20s linear infinite; 
    font-size: var(--icon-font);
}

@keyframes free {
    0% {
        transform: translateX(100vw); 
    }
    100% {
        transform: translateX(-100%); 
    }
}

.nav {
    position: fixed;
    width: 100%;
    top: 2.9rem;
    right: 0;
    z-index: 1000;
    background: var(--bg-color);
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5% 1rem;
    transition: all .50s ease;
}

nav img {
    width: 100%;
    height: auto;
}

.navbar {
    display: flex;
    word-spacing: .625rem;
}

.navbar a {
    display: flex;
    align-items: center;
    background-color: #f8c9ff;
    justify-content: space-between;
    padding-left: 12%;
    padding-right: 10%;
    height: 9rem;
    font-family: Times New Roman, Times, Serif;
    font-style: italic;
    font-size: 5rem;
    scroll-behavior: smooth;
}

.navbar a:hover {
    color: var(--main-color);
}

.cat-container {
    position: relative;
}

.catbar {
    position: absolute;
    top: 220%;
    left: 0;
    background: var(--main-color);
    display: none;
    transition: display 0.3s ease;
    height: auto;
    width: 100%;
    margin: 0 20% 0;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 50%);
}

.catbar.active {
    display: block;
}

.catbar a {
    display: block;
    color: var(--secondary-text-color);
    font-weight: 600;
    font-size: var(--h4-font);
    margin: 0.5rem 0.7rem 0.5rem;
}

.catbar a:hover {
    color: var(--bg-color);
}

#menu-icon {
    height: 1.2rem;
    width: 1.2rem;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--icon-font);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.new h2{
    text-align: center;
    padding: 2rem 0 0;
    font-size: var(--h1-font);
}

.newcontent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 2rem;
    padding: 0 5% 0.5rem;
    text-align: center;
}

.row:hover {
    background-color: var(--main-color);
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 50%);
}

.row {
    
    position: relative;
    cursor: pointer;
}

.row img {
    padding: 5% 5% 5%;
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.row h4 {
    text-transform: uppercase;
    font-weight: medium 200;
    transition: all .50s ease;
    font-size: var(--h5-font);
}

.row h5 {
    font-size: var(--h5-font);
}

.btn {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.btn a{
    color: var(--text-color);
    font-size: var(--h5-font);
}

.btn a:hover {
    color: var(--bg-color);
}

.show {
    text-align: center;
    font-weight: 600;
    font-size: var(--h5-font);
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.show a{
    color: var(--text-color);
}

.show a:hover {
    color: var(--main-color);
}

 ./assets/img/blush.jpg {
            max-width: 30%; /* Image width will be responsive */
            max-height: 300px; /* Limits height to 300px */
        }
